body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #151515;
    background-color: #fce9df;

}

footer {
    background-color: #f9c4a8;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    display: block; 
    text-align: center; 
    padding: 15px; 
    background-color: #0286f2; 
    color: #ffffff; 
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 10px auto;
    width: 300px;
}

footer a p {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

footer a:hover {
    background-color: #0066cc; 
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

#contacto {
    background-color: #fce9df;
    padding: 20px;
    text-align: center;
}

.redes-sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.redes-sociales a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin-bottom: 2px;
    transition: color 0.3s;
}

#redes {
    background-color: #fce9df;
    padding: 20px;
    text-align: center;
}

.redes-sociales a:hover {
    color: #07b3ec;
}

.redes-sociales i {
    margin-right: 10px;
}

.enlace {
    display: grid;
    justify-items: center;
    padding: 5px;
}

/* Estilos generales para los enlaces */
section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar los enlaces */
    gap: 20px; /* Espaciado entre los enlaces */
  }
  
  section ul li {
    font-size: 16px; /* Tamaño de fuente */
    font-family: Arial, sans-serif;
  }
  
  section ul li a {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #333; /* Color gris oscuro */
    padding: 10px 15px;
    background-color: #f4f4f486; /* Fondo gris claro */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el hover */
  }
  
  section ul li a:hover {
    background-color: #fc8439; /* Color de fondo azul al pasar el ratón */
    color: #fff; /* Cambiar color de texto a blanco al pasar el ratón */
  }
  
  /* Para dispositivos pequeños */
  @media (max-width: 768px) {
    section ul {
      flex-direction: column; /* Los enlaces se apilan verticalmente en pantallas pequeñas */
      align-items: center; /* Centra los enlaces en pantallas pequeñas */
    }
  
    section ul li {
      font-size: 14px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
  }
  

@media (max-width: 610px) {
    #redes {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #contacto {
        padding: 0;
    }

    section {
        gap: 5;
    }

    footer a {
        width: 150px;
    }

    footer a p {
        font-size: .8em;
    }
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
    }
}
