footer {
    padding-top: 10px;
    background-color: #f1bda2;
    /* padding: 20px;    */
    text-align: center;
    font-family: Arial, sans-serif;
}
footer h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

#redes {
    background-color: #f1bda2;
}

.redes-sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.redes-sociales a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin-bottom: 2px;
    transition: color 0.3s;
}

.redes-sociales a:hover {
    color: #07b3ec;
}

.redes-sociales i {
    margin-right: 10px;
}

#enlaces {
    padding: 10px 0 0 0;
}

.footer-info {
    margin: 0px;
    padding: 10px 0;
    background-color: #f19669;
}

.footer-info a {
    display: block; 
    text-align: center; 
    padding: 15px; 
    background-color: #f2820210; 
    color: #ffffff; 
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 10px auto;
    width: 200px;
}

.footer-info a p {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.footer-info a:hover {
    background-color: #156800; 
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

#contacto {
    background-color: #f1bda2;
    /* padding: 20px; */
    text-align: center;
}

.enlace {
    display: grid;
    justify-items: center;
    padding: 5px;
}

/* Estilos generales para los enlaces */
section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar los enlaces */
    gap: 20px; /* Espaciado entre los enlaces */
  }
  
  section ul li {
    font-size: 16px; /* Tamaño de fuente */
    font-family: Arial, sans-serif;
  }
  
  section ul li a {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #333; /* Color gris oscuro */
    padding: 10px 15px;
    background-color: #f4f4f486; /* Fondo gris claro */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el hover */
  }
  
  section ul li a:hover {
    background-color: #fc8439; /* Color de fondo azul al pasar el ratón */
    color: #fff; /* Cambiar color de texto a blanco al pasar el ratón */
  }
  
  /* Para dispositivos pequeños */
  @media (max-width: 768px) {
    section {
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }
    section ul {
      /* flex-direction: column;  */
      align-items: center; /* Centra los enlaces en pantallas pequeñas */
    }
  
    section ul li {
      font-size: 10px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
    section ul li a {
      padding: 10px 5px;
    }

  }
  

@media (max-width: 610px) {
    #redes {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #contacto {
        padding: 0;
    }

    section {
        gap: 5;
    }

    .footer-info a {
        width: 150px;
    }

    .footer-info a p {
        font-size: .8em;
    }
}
