body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #151515;
    background-color: #fce9df;

}

footer {
    background-color: #f9c4a8;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    display: block; 
    text-align: center; 
    padding: 15px; 
    background-color: #0286f2; 
    color: #ffffff; 
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 10px auto;
    width: 300px;
}

footer a p {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

footer a:hover {
    background-color: #0066cc; 
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

#contacto {
    background-color: #fce9df;
    padding: 20px;
    text-align: center;
}

.redes-sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.redes-sociales a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin-bottom: 2px;
    transition: color 0.3s;
}

#redes {
    background-color: #fce9df;
    padding: 20px;
    text-align: center;
}

.redes-sociales a:hover {
    color: #07b3ec;
}

.redes-sociales i {
    margin-right: 10px;
}

.enlace {
    display: grid;
    justify-items: center;
    padding: 5px;
}

@media (max-width: 610px) {
    #redes {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    #contacto {
        padding: 0;
    }

    section {
        gap: 5;
    }

    footer a {
        width: 150px;
    }

    footer a p {
        font-size: .8em;
    }
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
    }
}
