body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #151515;
}

.footer{
    width: 100% !important;
    height: 420px !important;
}

header {
    background-color: #0f0f0f;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Estilos para el header */
.header-content {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

.header-text {
    margin-left: 20px; /* Espacio entre el logo y el texto */
} 

.header-text h1 {
    margin: 0;
    font-size: 1.8em; /* Ajusta el tamaño según sea necesario */
}

.header-text p {
    margin: 5px 0 0;
    font-size: 1em; /* Ajusta el tamaño según sea necesario */
}

h1, h2 {
    color: #f6be70;
}

#catalogo {
    padding: 20px;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 310px;
    display: block;
}

.item p {
    padding: 10px;
    text-align: center;
}

#contacto {
    background-color: #b9b7b7;
    padding: 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}

.redes-sociales {
    text-align: left; /* Alinear texto a la izquierda */
    margin: 20px; /* Espacio alrededor del contenedor */
}

.redes-sociales h2 {
    font-size: 24px; /* Tamaño de la fuente para el encabezado */
    margin-bottom: 15px; /* Espacio debajo del encabezado */
    color: #fac384;
    text-align: center;
}

.redes-sociales a {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
    transition: color 0.3s;
    justify-content: center;
    align-items: center;
}

.redes-sociales a:hover {
    color: #ffae00; /* Cambia el color al pasar el mouse (puedes ajustarlo) */
}

.redes-sociales i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.item img {
    cursor: pointer;
    transition: transform 0.2s;
}

.item img:hover {
    transform: scale(1.05);
}

/* Estilos para el lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para la barra lateral de publicidad */
.sidebar-ad {
    position: fixed;
    right: 20px;
    top: 85%;
    transform: translateY(-50%);
    width: 250px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.sidebar-wh {
    position: fixed;
    right: 10px;
    top: 5%;
    transform: translateY(-50%);
    border-radius: 50px;
    z-index: 1000;
}

.sidebar-wh a img{
    width: 45px;
}

/* Estilo para el botón de cierre */
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    transition: color 0.3s ease;
}

/* Hover del botón de cierre */
.close-btn:hover {
    color: #ff0000; /* Cambia a rojo al pasar el cursor */
}

/* Ajustes para el enlace */
.sidebar-ad a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Efectos para el texto */
.sidebar-ad p {
    font-size: 1em;
    margin: 0;
}

/* Efecto hover para aumentar el tamaño */
.sidebar-ad:hover {
    transform: scale(1.05) translateY(-50%);
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* texto informativo*/

.informacion-bodypaint {
            width: 90%;
            margin: 0 auto; /* Centra la sección horizontalmente */
            padding: 20px;
            background-color: #f4f4f4; /* Color de fondo para destacar el contenido */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
            font-family: Arial, sans-serif;
            text-align: justify; /* Justifica el texto */
        }


    