body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff8f4;
    color: #333;
}

/* Encabezado del blog */
.blog-header {
    background-color: #f7d3c4;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.e-card {
    background: linear-gradient(to right, #f19669, #f7bca2, #f19669);
    width: 90%;
    border-radius: 16px;
}

.blog-header h1 {
    font-size: 2rem;
    color: #412f0a;
}

.blog-header .subtitulo {
    font-size: 1rem;
    color: #18045f;
    margin-top: 0.5rem;
}

/* Contenido principal */
.blog-contenido, .entrada-detalle {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Estilo de entradas del index */
.entrada-blog {
    background-color: #ffffff;
    border-left: 5px solid #f9c4a8;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.entrada-blog h2 {
    margin-top: 0;
    color: #07b3ec;
}

.entrada-blog time {
    font-size: 0.9rem;
    color: #888;
    display: block;
    margin-bottom: 0.5rem;
}

.leer-mas {
    display: inline-block;
    margin-top: 1rem;
    color: #fff;
    background-color: #61b1ab;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.leer-mas:hover {
    background-color: #4d9d97;
}

/* Estilo para entradas individuales */
.entrada-detalle h2 {
    color: #07b3ec;
    margin-top: 0;
}

.entrada-detalle time {
    font-size: 0.9rem;
    color: #888;
    display: block;
    margin-bottom: 1rem;
}

.entrada-detalle p {
    margin-bottom: 1.2rem;
}

/* Pie de página */
.regresar {
    text-align: center;
    padding: 2rem;
}

.icono-regreso {
    text-decoration: none;
    color: #cc0066;
    font-size: 1rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.icono-regreso:hover {
    opacity: 1;
}

.botones-navegacion {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: #fff8f4;
}

.btn {
  margin-right: 5%;
  background-color: #ffa56a;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fd8433;
}

@media (max-width: 768px) {
 .blog-header h1 {
    font-size: 1.5rem;
} 
}